<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- <link rel="stylesheet" href="./css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" href="./css/all.css" /> -->
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="./js/socket.js"></script>
    <script src="./js/all.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="container-12">
          <div class="navbar">
            <a href="#!" class="brand"><h1>日沐咖啡 Rimoo cafe</h1></a>
            <ul class="nav">
              <li class="nav-items"><a href="#!" class="nav-links">關於</a></li>
              <li class="nav-items"><a href="#!" class="nav-links">服務</a></li>
              <li class="nav-items"><a href="#!" class="nav-links">訂位</a></li>
              <li class="nav-items"><a href="#!" class="nav-links">菜單</a></li>
              <li class="nav-items"><a href="#!" class="nav-links">聯絡</a></li>
            </ul>
          </div>
        </div>
      </header>

      <section class="main">
        <!-- <div class="mask-dark"></div> -->

        <div class="jumbotron">
          <div class="mask-dark"></div>
          <div class="container">
            <div class="logo-image"></div>
            <div class="btn-group">
              <div class="btn btn-primary btn-lg">123</div>
              <div class="btn btn-secondary btn-lg">456</div>
            </div>
          </div>
        </div>

        <div class="hero">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="about-preview u-mb-64">
                  <h3 class="title u-mb-16">hello motor</h3>
                  <p class="para u-mb-16">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Error temporibus perspiciatis vero alias, architecto dolorem
                    neque voluptas suscipit! Ad, repellendus. Suscipit ullam
                    quaerat perferendis aut, fugit excepturi, sequi dignissimos
                    voluptatem nulla obcaecati eum amet modi odio. Modi tempore,
                    odio eveniet, saepe at corporis animi illum odit, velit
                    asperiores eos?
                  </p>
                  <a href="" class="btn btn-primary u-mb-16">more</a>
                </div>
              </div>
              <div class="col-6">
                <div class="image-container"><div class="image-bg"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="hero hero-grey">
          <div class="container">
            <div class="service-info">
              <div class="primary-title">
                <h3 class="title u-mb-32">喵喵喵喵喵</h3>
                <p class="para u-mb-16">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam
                  vero autem voluptate recusandae odit velit totam molestias
                  quod maiores a!
                </p>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="preview">
                    <div class="image-container">
                      <div class="sub-image-1"></div>
                    </div>
                    <h3 class="title">
                      heybirtry,this is a coffee,and then begin and temple
                      secret hey.
                    </h3>

                    <p class="content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Voluptates pariatur officiis animi voluptatum. Quisquam
                      delectus voluptatibus, dignissimos ad veritatis quidem.
                      Placeat provident aliquid cupiditate neque ratione
                      exercitationem. Porro nihil tempora dolores voluptatibus
                      alias vel, dolore soluta vero possimus nemo, tempore rerum
                      laboriosam ipsum nostrum repellat ratione maiores! Rerum,
                      blanditiis provident. Nulla ex, quibusdam dolorum id
                      adipisci voluptas reprehenderit earum cum consectetur
                      aspernatur sed error soluta nobis alias dicta amet
                      sapiente vel autem optio nam dolorem eum voluptate aperiam
                      reiciendis! Odio accusantium, quam earum explicabo
                      sapiente consequuntur alias incidunt mollitia nulla
                      possimus, hic ipsum consequatur odit dolorum nesciunt
                      beatae asperiores neque!
                    </p>
                    <div class="btn btn-secondary">learn more</div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="preview">
                    <div class="image-container">
                      <div class="sub-image-2"></div>
                    </div>
                    <h3 class="title">
                      heybirtry,this is a coffee,and then begin and temple
                      secret hey.
                    </h3>

                    <p class="content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Voluptates pariatur officiis animi voluptatum. Quisquam
                      delectus voluptatibus, dignissimos ad veritatis quidem.
                      Placeat provident aliquid cupiditate neque ratione
                      exercitationem. Porro nihil tempora dolores voluptatibus
                      alias vel, dolore soluta vero possimus nemo, tempore rerum
                      laboriosam ipsum nostrum repellat ratione maiores! Rerum,
                      blanditiis provident. Nulla ex, quibusdam dolorum id
                      adipisci voluptas reprehenderit earum cum consectetur
                      aspernatur sed error soluta nobis alias dicta amet
                      sapiente vel autem optio nam dolorem eum voluptate aperiam
                      reiciendis! Odio accusantium, quam earum explicabo
                      sapiente consequuntur alias incidunt mollitia nulla
                      possimus, hic ipsum consequatur odit dolorum nesciunt
                      beatae asperiores neque!
                    </p>
                    <div class="btn btn-secondary">learn more</div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="preview">
                    <div class="image-container">
                      <div class="sub-image-3"></div>
                    </div>
                    <h3 class="title">
                      heybirtry,this is a coffee,and then begin and temple
                      secret hey.
                    </h3>

                    <p class="content">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Voluptates pariatur officiis animi voluptatum. Quisquam
                      delectus voluptatibus, dignissimos ad veritatis quidem.
                      Placeat provident aliquid cupiditate neque ratione
                      exercitationem. Porro nihil tempora dolores voluptatibus
                      alias vel, dolore soluta vero possimus nemo, tempore rerum
                      laboriosam ipsum nostrum repellat ratione maiores! Rerum,
                      blanditiis provident. Nulla ex, quibusdam dolorum id
                      adipisci voluptas reprehenderit earum cum consectetur
                      aspernatur sed error soluta nobis alias dicta amet
                      sapiente vel autem optio nam dolorem eum voluptate aperiam
                      reiciendis! Odio accusantium, quam earum explicabo
                      sapiente consequuntur alias incidunt mollitia nulla
                      possimus, hic ipsum consequatur odit dolorum nesciunt
                      beatae asperiores neque!
                    </p>
                    <div class="btn btn-secondary">learn more</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="jumbotron">
        <div class="mask-dark"></div>
        <div class="container">
          <p class="para">hey coffee</p>
          <p class="para">you can maybe to start it</p>
          <div class="btn-group">
            <div class="btn btn-primary btn-lg">start</div>
          </div>
        </div>
      </div>

      <section class="footer"></section>
    </div>
  </body>
</html>
