/* ------------------- *\
        Global
\* ------------------- */

* {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "微軟正黑體", arial;
  color: black;
  height: 100%;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
/* ------------------- *\
        Layout
\* ------------------- */

.container {
  width: 1200px;
  margin: 0 auto;

  // RWD
  padding-left: 16px;
  padding-right: 16px;

  //   border: 1px solid black;
}

.container-12 {
  width: 100%;
  //   border: 1px solid purple;
}

.row {
  display: flex;
  margin: 0 -16px;
}

.col-6,
.col-4,
.col-3 {
  //   border: 2px solid purple;

  padding-left: 16px;
  padding-right: 16px;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.3333%;
}

.col-3 {
  width: 25%;
}
/* ------------------- *\
        Components
\* ------------------- */

// btn

.btn-group .btn {
  margin: 0 16px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 16px;
  font-weight: 1000;
  line-height: 24px;
  padding: 4px 16px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.3s;

  &.btn-primary {
    background-color: #d5a26f;
    border: 1px solid #d5a26f;
    color: #fff;

    &:hover {
      background-color: #b2875c;
      border: 1px solid #b2875c;
    }
  }

  &.btn-secondary {
    border: 1px solid #d5a26f;
    color: red;

    &:hover {
      background-color: #d5a26f;
      color: #fff;
    }
  }

  // btn size
  &.btn-lg {
    padding: 8px 32px;
  }
}

// mask

.mask-dark {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

// hero

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  //   border: 1px solid black;

  &.hero-grey {
    background-color: #efefef;
  }

  .about-preview {
    text-align: justify;
  }

  .image-container {
    display: block;
    width: 100%;

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 75%;
    }

    .image-bg {
      background-image: url("../images/products/product001.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// navbar

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 64px;
  z-index: 10;
  position: fixed;

  //   border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);

  .brand {
    display: inline-block;
    vertical-align: top;
    // border: 2px solid black;
    width: 160px;
    height: 64px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;

    background-image: url("../images/common/logo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .nav {
    display: flex;
    .nav-items {
      display: block;
      line-height: 24px;
      padding: 20px 16px;

      .nav-links {
        transition: color 0.3s;

        &:hover {
          color: #d5a26f;
        }
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #d5a26f;

          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.3s;
        }

        &:hover::after {
          content: "";

          width: 100%;
        }
      }
    }
  }
}

// jumbotron
.jumbotron {
  // border: 1px solid black;
  padding-top: 224px;
  padding-bottom: 160px;
  text-align: center; // jumbotron元件內的inline-block置中

  background-image: url("../images/bg/bg001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .para {
    color: wheat;
    font-size: 32px;
    margin-bottom: 32px;
  }

  .logo-image {
    background-image: url("../images/common/logo-w.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 320px;
    height: 320px;
    //   border: 3px solid black;
    margin: 0 auto;
  }

  //   .jumbotron-bg {
  //     background-image: url("../images/bg/bg001.jpg");
  //     background-position: center;
  //     background-repeat: no-repeat;
  //     background-size: cover;

  //     width: 100%;
  //     height: 384px;
  //   }
}

// service

.service-info {
  text-align: center;
  //   border: 50px solid black;
  .primary-title {
  }

  .preview {
    text-align: left;
    .sub-image-1 {
      background-image: url("../images/products/product002.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .sub-image-2 {
      background-image: url("../images/products/product003.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .sub-image-3 {
      background-image: url("../images/products/product005.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .title {
      font-size: 16px;
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 32px;
    }
    .content {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      height: 72px;
      overflow: hidden;
    }
  }
}

/* ------------------- *\
        Utility
\* ------------------- */
